/*Testing transfer to heroku*/
/*Defining the row and the columns for the main layout*/
.Row {
  display: table;
  width: 100%;
  /*Optional*/
  table-layout: fixed;
  /*Optional*/
  border-spacing: 30px;
  /*Optional*/
  position: relative;
  margin-top: -20px;
}

.Column {
  display: table-cell;
  background-color: rgb(110, 180, 99);
  /*Optional*/
  border-radius: 9px;
  box-shadow: 10px 10px 5px rgb(74, 161, 11);
  position: relative;
}

/*Main content in the columns*/
.ScenarioContainer {
  position: absolute; 
  top:20px;
  left:96px;
  right:0;
  width: 350px;
}

.GraphsContainer {
  display: inline-block;; 
  width: 552px;
  height: 850px;
}

.IndicatorContainer {

  position: absolute; 
  top:20px;
  left:96px;
  right:0;
  width: 350px;
}

.TimePeriodsContainer{
  clear: auto;
  margin-top: 60px;
}

.SingleScenario{

  text-align: center;
  font-size: 16px;
}

/*Customizing the dropdown menu*/
ul.dropdown-menu {
  background-color: rgb(59, 148, 74);
  text-align: center;
  font-size: 16px;
  
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

.dropdown-menu a:hover {
  background: rgb(2, 161, 23) 
}

.dropdown-menu a{
  color: #000000;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;  
}

.btn-lg{
  width: 310px;
  color: #000000;
}

.dropdown-toggle{
  width: 35px;
  color: #000000;
}

.btn {
  box-shadow: 5px 5px 5px -1px #1D8519;
  -webkit-box-shadow: 5px 5px 5px -1px #1D8519;
  -moz-box-shadow: 5px 5px 5px -1px #1D8519;
  -o-box-shadow: 5px 5px 5px -1px #1D8519;
  color:#333!important;
}

.Headings h4{
  margin-bottom: 10px;
  margin-top: 23px;
}

.Headings h3{
  margin-bottom: 50px;
  margin-bottom: 20px;
}

.TimeScenarios h4{
  margin-bottom: 23px;
  margin-top:23px;
}

.Chart h3{
  margin-top:35px;
}

.TypeContainer{

  width:250px;
  margin-left: 330px;
}
.nav-pills active{

  background: #1D8519 !important;
}

.TimeScenarios{
  margin-top: 90px;
}

.SingleItemDefault{
  
      text-align: left;
      border-radius: 6px;
      margin-bottom: 2px;
      margin-top: 2px;
  }
  
  .SingleItemSelected{
  
      text-align: left;
      background: green;
      border-radius: 6px;
      margin-bottom: 2px;
      margin-top: 2px;
  }
  
  .ListContainer{
  
      display: flex;
      justify-content: center;
      vertical-align: middle;
  
      margin: auto;
      width: 350px;
   
      border-radius: 9px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      
      box-shadow: inset 2px 2px 12px -1px #237A2E,5px 5px 5px -1px #1D8519;
      -webkit-box-shadow: inset 2px 2px 12px -1px #237A2E,5px 5px 5px -1px #1D8519;
      -moz-box-shadow: inset 2px 2px 12px -1px #237A2E,5px 5px 5px -1px #1D8519;
      -o-box-shadow: inset 2px 2px 12px -1px #237A2E,5px 5px 5px -1px #1D8519;
  
      background: rgb(117, 185, 117);
  }

  .Graph{

    margin-top: 20px;

  }










